<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.menu.MenuMapper">

    <resultMap type="Menu" id="MenuResult">
        <id     property="id"         column="menu_id"        />
        <result property="menuName"       column="menu_name"      />
        <result property="parentName"     column="parent_name"    />
        <result property="pid"       column="parent_id"      />
        <result property="orderNum"       column="order_num"      />
        <result property="url"            column="url"            />
        <result property="menuType"       column="menu_type"      />
        <result property="status"        column="status"        />
        <result property="perms"          column="perms"          />
        <result property="icon"           column="icon"           />
        <result property="createTime"     column="gmt_create"    />
        <result property="updateTime"     column="gmt_modified"    />
        <result property="remark"         column="remark"         />
    </resultMap>



    <sql id="selectMenuVo">
        select menu_id, menu_name, parent_id, order_num, url, menu_type, status, perms, icon, gmt_create,gmt_modified
		from sys_menu
    </sql>


    <select id="selectAllMenus" resultMap="MenuResult">
		select distinct m.menu_id, m.parent_id, m.menu_name, m.url, m.perms , m.menu_type, m.icon, m.order_num, m.gmt_create,m.gmt_modified
		from sys_menu m
		where m.menu_type in ('M', 'C') and m.status = 1
		order by m.order_num
	</select>

    <select id="selectMenuAll" resultMap="MenuResult">
        <include refid="selectMenuVo"/>
    </select>

    <select id="selectMenuList" parameterType="Menu" resultMap="MenuResult">
        <include refid="selectMenuVo"/>
    </select>

    <select id="selectMenuById" parameterType="Long" resultMap="MenuResult">
		SELECT t.menu_id, t.parent_id, t.menu_name, t.order_num, t.url, t.menu_type, t.status, t.perms, t.icon, t.remark,
			(SELECT menu_name FROM sys_menu WHERE menu_id = t.parent_id) parent_name
		FROM sys_menu t
		where t.menu_id = #{menuId}
	</select>

    <select id="checkMenuNameUnique" parameterType="Menu" resultMap="MenuResult">
        <include refid="selectMenuVo"/>
        where menu_name=#{menuName} and parent_id = #{parentId}
    </select>

    <insert id="insertMenu" parameterType="Menu">
        insert into sys_menu(
        <if test="id != null and id != 0">menu_id,</if>
        <if test="pid != null and pid != 0">parent_id,</if>
        <if test="menuName != null and menuName != ''">menu_name,</if>
        <if test="orderNum != null and orderNum != ''">order_num,</if>
        <if test="url != null and url != ''">url,</if>
        <if test="menuType != null and menuType != ''">menu_type,</if>
        <if test="status != null">status,</if>
        <if test="perms !=null and perms != ''">perms,</if>
        <if test="icon != null and icon != ''">icon,</if>
        <if test="remark != null and remark != ''">remark,</if>
        gmt_create
        )values(
        <if test="id != null and id != 0">#{id},</if>
        <if test="pid != null and pid != 0">#{pid},</if>
        <if test="menuName != null and menuName != ''">#{menuName},</if>
        <if test="orderNum != null and orderNum != ''">#{orderNum},</if>
        <if test="url != null and url != ''">#{url},</if>
        <if test="menuType != null and menuType != ''">#{menuType},</if>
        <if test="status != null">#{status},</if>
        <if test="perms !=null and perms != ''">#{perms},</if>
        <if test="icon != null and icon != ''">#{icon},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <update id="updateMenu" parameterType="Menu">
        update sys_menu
        <set>
            <if test="menuName !=null and menuName !=''">menu_name = #{menuName},</if>
            <if test="pid !=null and pid !=0">parent_id = #{pid},</if>
            <if test="orderNum !=null and orderNum !=''">order_num = #{orderNum},</if>
            <if test="url !=null and url !=''">url = #{url},</if>
            <if test="status !=null">status = #{status},</if>
            <if test="perms !=null and perms != ''">perms = #{perms},</if>
            <if test="icon !=null and icon !=''">icon = #{icon},</if>
            <if test="remark !=null and remark !=''">remark = #{remark},</if>
            gmt_modified = sysdate()
        </set>
        where menu_id = #{id}
    </update>

    <select id="selectCountMenuByParentId" resultType="Integer">
	    select count(1) from sys_menu where parent_id=#{pid}
	</select>

    <delete id="deleteMenuById" parameterType="Long">
	    delete from sys_menu where menu_id = #{id} or parent_id = #{id}
	</delete>
</mapper>